.loader .animated-logo {
  height: 50px;
  opacity: 0.4;
  margin: 0 auto;
  font-size: 200px;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  position: absolute;
  right: 30%;
  left: 30%;
  top: 45%;
  bottom: 45%;
}

@keyframes stretch {
  0% {
    transform: scale(0.4);
    font-size: 100%;
  }
  100% {
    transform: scale(1);
  }
}
