.loader .container {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 300px auto 0 auto;
  padding-top: 40px;
}
.loader .animated-logo {
  height: 50px;
  opacity: 0.4;
  margin: 0 auto;
  font-size: 200px;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.4);
    font-size: 100%;
  }
  100% {
    transform: scale(1);
  }
}
