@import "../../index.css";

.selected-character {
  background-color: var(--back-white);
}

.selected-character .container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.selected-character .thumbnail {
  background-color: var(--back-white);
  border-radius: 5px;
  box-shadow: var(--regular-shadow);
  color: var(--back-light-grey);
  padding: 25px 0;
  margin-bottom: 50px;
}

.selected-character .info {
  padding: 0 25px 15px 25px;
}

.selected-character .info > div:nth-child(1) {
  padding: 10px;
  background-color: var(--back-grey);
  color: var(--yellow);
  font-weight: 700;
  margin: 5px 0 15px 0;
  border-radius: 5px;
}

.selected-character .info > div:nth-child(2) {
  padding: 0 10px;
  font-weight: 500;
}

.selected-character .starship {
  padding: 10px;
  color: var(--back-light-grey);
  font-weight: 700;
  margin: 5px 0;
}

.selected-character .starship:hover {
  background-color: var(--yellow);
}

@media only screen and (max-width: 1200px) {
  .selected-character .container {
    width: 100%;
    justify-content: center;
  }

  .selected-character .thumbnail {
    box-shadow: none;
  }
}
