@import "../../index.css";

.starship-details {
  background-color: var(--back-white);
}

.starship-details .container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.starship-details .thumbnail {
  padding: 50px;
  background-color: var(--back-white);
  border-radius: 5px;
  box-shadow: var(--regular-shadow);
  color: var(--back-light-grey);
}

.starship-details .info {
  margin-bottom: 25px;
}

.starship-details .info > div:nth-child(1) {
  padding: 10px;
  background-color: var(--back-grey);
  color: var(--yellow);
  font-weight: 700;
  margin: 5px 0 15px 0;
  border-radius: 5px;
}

.starship-details .info > div:nth-child(2) {
  padding: 0 10px;
  font-weight: 500;
}

.starship-details .pilot {
  padding: 0 10px;
  color: var(--back-light-grey);
  font-weight: 700;
  margin: 5px 0;
}

.starship-details .pilot:hover {
  background-color: var(--yellow);
}

@media only screen and (max-width: 1200px) {
  .starship-details .container {
    width: 100%;
    justify-content: center;
  }

  .starship-details .thumbnail {
    box-shadow: none;
  }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
}
